[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds003097
	datalad-id = aefe5438-e93b-11ea-ad4c-8e2245da6db7
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds003097
